
.heading-text{
    font-size: 7vw;
}

.home-background-img{
	opacity:.7;
}

@media (min-width: 600px){
	.home-background-img{
		width:100%;
	}
}

@media (min-width: 400px)
{
    .navbar-toggle {
        display: none;
    }

    .navbar-header button {
        display: block;
    }
    
    .header-text{
        font-size:1vw!important;
    }
}
.centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:5vw;
}
.list-text{
    font-size:2.5vw;
}

.list-text:hover{
    color:orange;
}
.button-text{
    font-size:4vw;
}

/*icons*/



.testimonials{
    margin-top: 2vw;
    font-size: 2.5vw;
}

.testimonials:hover {
  background-color: yellow;
}
.carousel-control-next:hover{
    opacity:.3;
    background: linear-gradient(90deg, rgba(10,0,60,.5) 5%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.carousel-control-prev:hover{
    opacity:.3;
    background: linear-gradient(90deg, rgba(0,212,255,1) 100%, rgba(9,9,121,1) 35%, rgba(10,0,60,.5) 5%);
}
.info-hover:hover{
    font-size:1.25rem;
}

.hover-contacts:hover{
    font-size:1.25rem;
}

.nav-title{
    color:red;
}

/*@media (max-width: 400px){*/
/*    .nav-title{*/
/*    color:blue;*/
/*}*/
/*}*/

